@font-face {
  font-family: founders-grotesk-bold;
  src: url('assets/fonts/founders-grotesk-test-bold.woff') format('woff');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: founders-grotesk-regular-italic;
  src: url('assets/fonts/founders-grotesk-test-regular-italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}


body {
  margin: 0;
}

/* Main Content */
#content {
  display: flex;
  min-height: 100vh;
  margin-right: 70px;
  margin-left: 70px;
  justify-content: center;
}

/* Sub content*/
#content > article {
  align-content: center;
  border-radius: 20px;
  margin: 10px 10px 0;
  padding: 0 4px;
}

#content > aside {
  flex: 0 0 20vw;
  order: -1;
  background-color: #ededed;
  border-radius: 20px;
  margin: 10px 10px 0;
}

header, article, aside {
  padding: 1em;
}

header {
  background-color: #476347;
  height: 9vh;
  text-align: center;
}

.mainHouseImg img {
  height: auto;
  width: 100%;
  align-content: center;
  border-radius: 20px;

}



h2{
  font-size: 35px;
  font-family: founders-grotesk-bold, serif;
}

h1{
  font-size: 60px;
  font-family: founders-grotesk-bold, serif;
  margin-bottom: 0;
}

h3{
  margin-top: 0;
  font-family: founders-grotesk-regular-italic, serif;
}


.sideBar input{
  font-family: founders-grotesk-regular-italic, serif;
  border-radius: 10px;
  padding-left: 30px;
  width: 20vw;
  height: 30px;
  margin-top: 0;
}

@media screen and (max-width: 600px) {
  #content {
    display: block;
    margin-left: 20px;
    margin-right: 20px;
  }
}